$fo_font_heading: 'fo-font-heading';
$fo_font_heading_path: '../font/lhf_prentice/lhfprenticefancy_Web';
//$fo_font_sub_heading: 'montserratbold';
$fo_font_sub_heading: 'fo-font-sub-heading';
$fo_font_sub_heading_path: '../font/libre_baskerville/librebaskerville-bold_Web';
$fo_font_body: 'fo-font-body';
$fo_font_body_path: '../font/libre_baskerville/librebaskerville-regular_Web';
//$fo_font_body_path: '../fon

@mixin font($name, $path) {
  font-family: $name;
  src: url('#{$path}.eot'),
  url('#{$path}.woff') format('woff'),
  url('#{$path}.ttf') format('truetype');
}

@font-face {
  @include font($fo_font_heading, $fo_font_heading_path);
}

@font-face {
  @include font($fo_font_sub_heading, $fo_font_sub_heading_path);
  font-weight: bold;
}

@font-face {
  @include font($fo_font_body, $fo_font_body_path);
}

h2 {
  font-family: $fo_font_heading !important;
}

h3, h4, h5, h6 {
  font-family: $fo_font_sub_heading !important;
}