.l-full-screen {
    min-height: 100vh;
}

.l-img-border {
    background-color: $dark-color;
    padding: $grid-gutter-width / 2;
}

.l-center {
    margin: 0 auto;
}

.l-margin-top-gutter {
    margin-top: $grid-gutter-width;
}

.l-margin-bottom-gutter {
    margin-bottom: $grid-gutter-width;
}
.l-margin-bottom-gutter-half {
    margin-bottom: $grid-gutter-width / 2;
}

.l-margin-top-header-nav {
    margin-top: $navbar-height;
}

.l-margin-top-base {
    margin-top: $padding-base-horizontal;
}