//$fo_font_logo: 'gotham_black';
//$fo_font_heading: 'bebas_neueregular';
//$fo_font_sub_heading: 'gotham_medium';
//$fo_font_body: 'gotham_light';
//$fa-font-path:        "../fonts" !default;
$fa-font-path: '../font';


$body-bg:               #30353b !default;
$text-color:            #FFF !default;

$brand-primary: #227199;
$border-radius-large:       20px !default;


$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

//$body-bg:               #fff !default;
$navbar-inverse-link-color: $text-color;
$navbar-inverse-link-hover-color: darken($text-color, 30%);
$navbar-inverse-bg: $body-bg;


$font-family-sans-serif:  $fo_font_body, Arial, sans-serif !default;
$headings-font-family: $fo_font_heading, $font-family-sans-serif !default;
$headings-font-weight: normal;