$fo_font_heading: 'bebas_neueregular';
$fo_font_sub_heading: 'montserratbold';
$fo_font_body: 'montserratregular';

@font-face {
    font-family: $fo_font_heading;
    src: url('../font/BebasNeue-webfont.eot');
    src: url('../font/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'), url('../font/BebasNeue-webfont.woff') format('woff'), url('../font/BebasNeue-webfont.ttf') format('truetype'), url('../font/BebasNeue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $fo_font_sub_heading;
    src: url('../font/montserrat_bold_macroman/Montserrat-Bold-webfont.eot');
    src: url('../font/montserrat_bold_macroman/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/montserrat_bold_macroman/Montserrat-Bold-webfont.woff') format('woff'),
    url('../font/montserrat_bold_macroman/Montserrat-Bold-webfont.ttf') format('truetype'),
    url('../font/montserrat_bold_macroman/Montserrat-Bold-webfont.svg#montserratbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: $fo_font_body;
    src: url('../font/montserrat_regular_macroman/Montserrat-Regular-webfont.eot');
    src: url('../font/montserrat_regular_macroman/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/montserrat_regular_macroman/Montserrat-Regular-webfont.woff') format('woff'),
    url('../font/montserrat_regular_macroman/Montserrat-Regular-webfont.ttf') format('truetype'),
    url('../font/montserrat_regular_macroman/Montserrat-Regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h2, h3 {
    font-family: $fo_font_heading !important;
}

h4, h5, h6 {
    font-family: $fo_font_sub_heading !important;
}