In order to lessen the burden of camp fees around Christmas time we are offering the ability to pay
by installments. If you wish to pay via installment, we ask that installments be a minimum of $50.
Installments can be paid by the following options:<br>
<ol>
    <li>By bank transfer</li>
    <li>Cash or Cheque</li>
    <ul>
        <li>
            Please collect an envelope from the back of the church (or from <a href="http://fullon.stphils.org.au/#contact">Stephen
            Cooke</a> on Fridays)
            and fill in the front with your details and place it in the offertory plate or return to
            <a href="http://fullon.stphils.org.au/#contact">Stephen Cooke</a>
            or <a href="http://fullon.stphils.org.au/#contact">Geoff Pullen</a>.
        </li>
    </ul>
</ol>