{{>header}}

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>An error has occurred</h2>

                <h3>{{error.message}}</h3>

                {{#if_not_equal env 'production'}}
                    <p>error stack</p>

                    <p>{{../error.stack}}</p>
                {{/if_not_equal}}

                <p>
                    Something super duper <span class="text-danger">bad</span> happened.<br>
                    A small team of monkies have been dispatched to deal with your issue.
                </p>
            </div>
        </div>


    </div>

{{>footer}}