<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Full On 2015</title>
    <meta name="description" content="St Philips Eastwood Anglican Church: Annual Youth Camp - Full On"/>

    <!-- google verification -->
    <meta name="google-site-verification" content="wKFgBnX8Q1GweezPYyI1NMn6wN4_cA57lWOfxcrI2J0"/>

    <!-- mobile meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <!-- facebook share image -->
    <link rel="image_src" href="/public/images/fb_share.jpg"/>

    <!--<link rel="shortcut icon" href="/public/images/favicon.ico"/>-->

    <!--custom fonts-->
    <link rel="stylesheet" href="/public/css/main.css"/>
</head>
<body>
<section class="coming-soon {{time_period}}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="text-center coming-soon-title">Soon</h1>

                <h2 class="text-center">{{data.days_to_camp}} days to go</h2>


            </div>
        </div>
    </div>
</section>
<footer>
    <a href="https://www.facebook.com/groups/334140480012169/">
        <img src="/public/images/8bitsocial/facebook.png" alt="facebook">
    </a>
    <a href="https://www.youtube.com/user/StPhilsYouth"><img src="/public/images/8bitsocial/youtube.png" alt="youtube"></a>
    <a href="https://vimeo.com/user17701935/videos"><img src="/public/images/8bitsocial/vimeo.png" alt="vimeo"></a>
</footer>

<script src="/public/js/tracking.js"></script>
</body>
</html>
