{{>header}}

<section>
	<div class="container l-margin-top-header-nav">
		<h1>Registrations are Closed</h1>

		<p class="text-center">We look forward to seeing you next year!</p>

	</div>
</section>

{{>footer}}