$z-index-landing-video: 10 !default;
$z-index-landing-video-overlay: 15 !default;
$z-index-content: 20 !default;
$z-index-logo: 30;

.video-container-overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;

    // block the video when it should not be clicked
    z-index: $z-index-landing-video-overlay;

    .is-trailer-playing & {
        display: none;
    }

}

.landing {
    background-color: black;

    // fallback
    position: relative;
    overflow: hidden;
    width: 100%;

    > * {
        bottom: 0;
        position: absolute;
        height: 100%;
        top: 0;
        width: 100%;
    }

}

.landing-video {

    height: auto;
    min-width: 100%;
    min-height: 100%;

    opacity: 1;
    // allow for stretch
    width: auto;
    z-index: $z-index-landing-video;

    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    .is-trailer-playing & {
        opacity: 0;
    }

    .no-video & {
        display: none;
        opacity: 0;
    }
}

.landing-video-mobile-background {

    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    background-image: url("/public/video/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    z-index: $z-index-landing-video;

    .is-trailer-playing & {
        opacity: 0;
    }

    .no-video & {
        display: block !important;
    }
}

.landing-content {
    z-index: $z-index-content;
}

.landing-video-container {
    margin-top: $navbar-height * 2;
}

.landing-logo {
    $width: 280px;
    $top: 150px;
    text-indent: -100001px;
    background-image: url($fo-logo-path);
    background-repeat: no-repeat;
    background-size: 100%;
    left: 50%;
    margin-left: -$width / 2;
    height: $width;
    position: absolute;
    opacity: 1;
    top: $top;
    width: $width;
    z-index: $z-index-logo;

    @include transition-property(all);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    .is-trailer-playing & {
        @include transform(scale(0.2));
        opacity: 0;
    }

}

#trailer-video {
    opacity: 0;
    z-index: $z-index-landing-video;

    @include transition-property(all);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    .is-trailer-playing & {
        opacity: 1;
    }
}

.trailer-video-launch {
    $width: 300px;

    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    bottom: $grid-gutter-width;
    display: block;
    left: 50%;
    position: absolute;
    margin-left: -$width / 2;
    opacity: 0;
    text-transform: uppercase;
    width: $width;
    z-index: $z-index-logo;

    > .fa {
        padding-right: $padding-base-horizontal;
    }

    &.is-ready {
        opacity: 1;
    }

    .is-trailer-playing & {
        opacity: 0;
    }
}

.trailer-video-close {
    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    bottom: 0;
    color: $text-color;
//    display: none;
    padding-bottom: $grid-gutter-width;
    position: absolute;
    opacity: 0;
    text-align: center;
    width: 100%;

    z-index: $z-index-logo;

    .is-trailer-playing & {
        opacity: 1;
    }
}