$fo-logo-width: $navbar-height - ($padding-base-vertical * 2);
.fo-navbar {

    opacity: 1;

    @include transition-property(opacity);
    @include transition-duration($transition-duration);
    @include transition-timing-function(ease);

    &.is-trailer-playing {
        opacity: 0;
    }

    li > a {
        font-size: $font-size-large; // 18px;
    }
}

.navbar-brand {
    padding: 0;
    width: $fo-logo-width;
}

.fo-navbar-stphils-logo {
    $fo-logo-width: $navbar-height - ($padding-base-vertical * 2);
    background-image: url("/public/images/stphils-logo-transparent-colour.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $fo-logo-width $fo-logo-width;

    margin-left: $padding-base-horizontal !important;
    text-indent: -100001px;
}

.fo-navbar-fo-logo {
    //$width: 280px;
    //$height: 93px;
    //$ratio: $width / $height;
    $adjusted_height: $navbar-height - ($padding-base-vertical * 2);
    //$adjusted_height: $navbar-height;
    //$adjusted_width: $ratio * $adjusted_height;

    background-image: url($fo-logo-path-small);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: $adjusted_height $adjusted_height;
    //height: $adjusted_height;
    padding-top: $padding-base-vertical;

    margin-left: 0 !important;

    text-indent: -100001px;
    //width: $adjusted_width;

    // mobile only
    @media (max-width: $screen-xs-max) {
        margin-left: $grid-gutter-width / 2 !important;
    }
}