$z-index-video: -100 !default;

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing {
    height: 100vh;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.landing-video {
    position: absolute;
//    background-image: url("/public/images/landing/landing.jpg");
//    background-repeat: no-repeat;
//    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    opacity: 0;
    z-index: 100;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;

    &.is-ready {
        opacity: 1;
    }

    &.is-trailer-playing {
        opacity: 0;
    }
}

.landing-content {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 200;

    .video-container {
        margin-top: $navbar-height * 2;
    }
}

.landing-logo {
    $width: 280px;
    $height: 93px;
    $top: 150px;
    text-indent: -100001px;
    background-image: url("/public/images/logo/FullOnLogo-01_W_SmallPNG.png");
    background-repeat: no-repeat;
    background-size: $width $height;
    left: 50%;
    margin-left: -$width / 2;
    height: $height;
    position: absolute;
    top: $top;
    width: $width;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;

    &.is-trailer-playing {
        transform: translateY(-$top + $navbar-height - ($grid-gutter-width / 2)) scale(0.5);
    }

}

#trailer-video {
//    opacity: 0;

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;

    .is-trailer-playing {
        opacity: 1;
    }
}

.trailer-video-launch {
    $width: 300px;

    bottom: $grid-gutter-width;
    display: block;
    left: 50%;
    position: absolute;
    margin-left: -$width / 2;
    opacity: 0;
    text-transform: uppercase;
    width: $width;

    -webkit-transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -o-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;

    > .fa {
        padding-right: $padding-base-horizontal;
    }

    &.is-ready {
        opacity: 1;
    }

    &.is-trailer-playing {
        opacity: 0;
    }
}