<div class="navigation text-center">
	<p class="navigation_cant_continue hide text-danger">
		<small>You cannot continue until all of the fields in this section are valid</small>
	</p>
	<a href="javascript:;" class="btn btn-warning btn-lg" data-action="back">Back</a>

	<a href="javascript:;" class="btn btn-primary btn-lg" data-action="next">{{#if submit}}Submit{{else}}Next{{/if}}</a>
</div>